.ho {
    background-color: rgb(119, 182, 213);
}

.legeno {
    background-color: aqua;
    margin: 0%;
    // padding: 1px;
}

.go{
    background-color: blanchedalmond;
}

.hihi{
    margin-bottom: 10px;
}